<%= simple_form_for :session, url: session_path do |form| %>
  <%= form.input :email, as: :email, autofocus: true %>
  <%= form.input :password, as: :password %>

  <%= submit_button f: form,
                    text: 'Sign in',
                    icon: false,
                    class: 'btn-lg block w-full' %>

  <div class="other-links mt-6 flex content-between">
    <%= link_to fa_icon('arrow-left', text: 'Back'),
                root_path,
                class: 'block link' %>

    <%= link_to t(".forgot_password"),
                new_password_path,
                class: 'block link ml-auto' %>
  </div>
<% end %>
