<%= content_for :title, 'My Errands' %>

<%= content_for :right_menu do %>
  <% if current_user.customer? %>
    <%= link_to fa_icon('plus'), new_errand_path, title: 'New Errand', class: 'btn btn-primary' %>
  <% elsif current_user.volunteer? %>
    <%= link_to fa_icon('search'), search_errands_path, title: 'Find Errands', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if @errands.present? %>

  <div class="max-w-3xl mx-auto lg:mt-12 lg:rounded lg:shadow-md">
    <%= render @errands %>
  </div>

<% else %>

  <section class="max-w-3xl mx-auto p-6 text-center">
    <% if current_user.customer? %>

      <p class="py-4">No errands requested yet.</p>

      <div class="mt-4">
        <%= link_to fa_icon('plus', text: 'Request Errand'),
                    new_errand_path,
                    class: 'btn btn-lg btn-primary' %>
      </div>

    <% elsif current_user.volunteer? %>

      <p class="py-4">You haven't been selected for any errands yet.</p>

      <div class="mt-4">
        <%= link_to fa_icon('search', text: 'Find Errands Near You'),
                    search_errands_path,
                    class: 'btn btn-lg btn-primary' %>
      </div>

    <% end %>
  </section>

<% end %>
