<%= content_for :title, t(".title") %>

<section class="py-8 px-6">
  <p class="mb-5"><%= t(".description") %></p>

  <%= simple_form_for :password, url: passwords_path do |form| %>
    <%= form.input :email, as: :email, autofocus: true %>
    <%= submit_button f: form,
                      text: 'Reset password',
                      icon: false,
                      class: 'btn-lg block w-full' %>
  <% end %>

  <div class="other-links mt-6 flex justify-center">
    <% if signed_in? %>
      <%= link_to fa_icon('arrow-left', text: 'Back'), :back, class: 'block link' %>
    <% else %>
      <%= link_to fa_icon('arrow-left', text: 'Back'), sign_in_path, class: 'block link' %>
    <% end %>
  </div>
</section>
