<%= content_for :title, 'My Offers' %>

<%= content_for :left_menu do %>
  <%= link_to fa_icon('arrow-left'),
              request.referrer || errands_path,
              title: 'Back',
              class: 'btn btn-secondary' %>
<% end %>

<% if @offers.present? %>

  <div class="max-w-3xl mx-auto lg:mt-12 lg:rounded lg:shadow-md">
    <%= render @offers %>
  </div>

<% else %>

  <section class="max-w-3xl mx-auto p-6 text-center">
      <p class="py-4">You haven't offered to run any errands yet.</p>

      <div class="mt-4">
        <%= link_to fa_icon('search', text: 'Find Errands Near You'),
                    search_errands_path,
                    class: 'btn btn-lg btn-primary' %>
      </div>
  </section>

<% end %>
