<!DOCTYPE html>
<html>
<head>
  <title>Kindness Kills COVID-19</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="font-sans">

<div class="min-h-screen min-w-screen flex flex-col">
  <header class="flex-initial"><%= render 'layouts/authentication/top_navigation' %></header>

  <div class="flex-initial">
    <%= render 'layouts/messages' %>
  </div>

  <main id="main-wrapper" role="main" class="bg-gray-200 h-full flex-1">
    <div class="max-w-md mx-auto pt-0 md:pt-32 px-0 md:px-4">
      <div class="bg-white md:rounded border-transparent overflow-hidden shadow-md">
        <div class="bg-gray-800 text-gray-500 px-5 py-3">
          <h1 class="text-lg text-center uppercase"><%= content_for :title %></h1>
        </div>

        <%= yield %>
      </div>
    </div>
  </main>
</div>

</body>
</html>
